.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  --bg-color: rgb(2, 6, 10);
  --nav-color: rgb(2, 6, 10, 0.1);
  --text-color: #EFEFEF;
  --font-family: Roboto, sans-serif;
  /* --font-family: Copperplate, Copperplate Gothic Light, fantasy, Arial, Helvetica, sans-serif; */
}

.profile {
  display: flex;
  flex-wrap: wrap;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  align-items: center;
}

.wrapper {
  font-family: var(--font-family);
  display: flex;
  flex-wrap: wrap;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
}

.subtitle {
  text-align: justify;
  padding: 0vh 4vw 4vh 4vw;
  font-size: 2vw;
  margin: 0vh 8vw 0vh 8vw;
}

.role {
  text-align: center;
  padding: 0vh 4vw 4vh 4vw;
  font-size: 1vw;
  margin: 0vh 8vw 0vh 8vw;
}

.description {
  width: 30vw;
  font-size: 2vw;
  text-align: center;
  margin: auto;
}

.separator {
  border-bottom: 1px solid var(--text-color);
  width: 20vw;
  margin: 2vh auto 7vh auto;
}

.project {
  padding: 0;
  text-align: center;
  font-size: 3.5vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  scroll-behavior: smooth;
}

.scroller {
  height: 300px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: start;
}

.homeLink {
  text-decoration: none;
  color: white;
  margin-left: 4vw;
}

.contact {
  text-decoration: none;
  color: white;
  margin-left: auto;
  margin-right: 4vw;
  margin-top: 1vh;
  text-decoration: none;
  font-size: 2vw;
}

.navbar {
  background-color: var(--nav-color);
  display: flex;
  position: sticky;
  flex-direction: row;
  color: #EFEFEF;
  font-size: 3vw;
  font-family: var(--font-family);
  top: 0vh;
  padding: 1vh 0vw 1vh 0vw;
  /* border-bottom: 1px solid white; */
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(60%);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#team, #about {
  background-color: var(--bg-color);
}

@media screen and (max-width: 1200px) {
  .project {
    font-size: 4vw;
  }

  .title {
    font-size: 4vw;
  }

  .description {
    width: 70vw;
    font-size: 3vw;
  }

  .role {
    font-size: 2vw;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    font-size: 2.5vw;
    top: 0vh;
    display: flex;
    justify-content: space-around;
  }

  .homeLink {
    font-size: 4vw;
    margin-left: 4vw;
    margin-top: 1vh;
  }

  .contact {
    font-size: 4vw;
    margin-right: 4vw;
    margin-top: 1vh;
  }

  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .title {
    font-size: 6vw;
  }

  .subtitle {
    text-align: justify;
    padding: 0vh 4vw 4vh 4vw;
    margin: 0vh 8vw 0vh 8vw;
    font-size: 3vw;
  }

  .role {
    font-size: 2vw;
  }

  .description {
    width: 70vw;
    font-size: 3vw;
  }

  .separator {
    width: 50vw;
  }

  .wrapper {
    width: 50%;
  }

  .keywords {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.1vh;
    font-size: 0.8em;
    padding-top: 1vh;
  }

  .project {
    font-size: 6vw;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.8em;
  }

  .subtitle {
      text-align: justify;
      padding: 0vh 4vw 4vh 4vw;
      margin: 0vh 12vw 0vh 12vw;
      font-size: 1.2em;
    }

    .role {
      font-size: 3vw;
    }
    
  .description {
    width: 80%;
    font-size: 1.5em;
    text-align: center;
    margin: auto;
  }

  .wrapper {
    width: 50%;
  }

  .homeLink {
    font-size: 4vw;
    margin-left: 4vw;
    margin-top: 2vh;
  }

  .contact {
    font-size: 4vw;
    margin-top: 1vh;
    margin-right: 4vw;
  }

  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .navbar {
    font-size: 2vw;
    top: 0;
  }
  
  .homeLink {
    font-size: 4vw;
    margin-top: 1vh;
    margin-left: 4vw;
  }

  .project {
    font-size: 7vw;
  }
}