.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.profile {
  /* background-image: url("../assets/building.jpg"); */
  /* min-width: 100%;
  min-height: 100%; */
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  align-items: center;
}

.Jehanne {
  /* background-image: url("../assets/Jehanne.jpg"); */
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  align-items: center;

}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 50%;
  }
}

.btn{
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    margin: 0vw 5vw 0vw 5vw;
    padding: 1vw 3vw 1vw 3vw;
    /* margin-top: 40vh; */
    justify-content: center;
    align-items: center;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0vw 10vh 0vw 10vh;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  font-size: 3vw;
}

.subtitle {
  text-align: center;
  padding-bottom: 4vh;
  font-size: 1vw;
  /* border: 1px solid white; */
}

.description {
  /* padding: 10vh 0vw 5vh 0vw; */
  width: 30vw;
  text-align: center;
  font-size: 2vw;
}

.btn:hover {
  background-color: rgb(3, 3, 3, 0.2);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  scroll-behavior: smooth;
}

.scroller {
  height: 300px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: start;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(40%);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#team, #about {
  /* filter: brightness(80%);
  background-image: url("../assets/background.jpg");
  width: 100%; */
  /* background-size: contain;
  background-repeat: no-repeat; */
  background-color: rgb(2, 6, 10);
}