.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.profile {
  padding-left: 5vw;
  padding-top: 5vh;
}

.btn{
  border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    margin: 0vw 5vw 0vw 5vw;
    padding: 1vw 3vw 1vw 3vw;
    margin-top: 40vh;
}

.title {
  text-align: center;
  padding: 20vh 10vw 0vh 10vw;
}

.subtitle {
  text-align: center;
}

.description {
  padding: 10vh 0vw 5vh 0vw;
  width: 30vw;
  text-align: center;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.02);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  scroll-behavior: smooth;
}

.scroller {
  height: 300px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: start;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
